@model IEnumerable<RSVPSystem.Models.Attendee>

<h1>Attendees for @ViewBag.PartyName</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var attendee in Model)
        {
            <tr>
                <td>@attendee.Name</td>
                <td>@attendee.Email</td>
                <td>@attendee.Phone</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index" class="btn btn-secondary">Back to Parties</a>